*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

section{
    position: relative;
    // background: aqua;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

    .ondas{
        background: #4973ff;
        position: absolute;
        left: 0;
        width: 100%;
        height: 100%;
        box-shadow: 0 0 50px rgba(0,0,0,0.5);
        transition: 0.5s;

        span{
            content: "";
            position: absolute;
            width: 325vh;
            height: 325vh;
            top: 0;
            left: 50%;
            background: #0000;
            transform: translate(-50%, -75%);

            &:nth-child(1){
                border-radius: 45%;
                background: rgba(20,20,20,1);
                animation: animacion 5s linear infinite;
            }

            &:nth-child(2){
                border-radius: 40%;
                background: rgba(20,20,20,.5);
                animation: animacion 10s linear infinite;
            }

            &:nth-child(3){
                border-radius: 42.5%;
                background: rgba(20,20,20,.4);
                animation: animacion 15s linear infinite;
            }
        }
    }

    .content{
        position: relative;
        z-index: 100;
        color: #fff;
        font-size: 4em;
        letter-spacing: 2px;
        text-align: center;

    }
}

@keyframes animacion{

    0%{
        transform: translate(-50%, -75%) rotate(0deg) ;

    }

    100%{
        transform: translate(-50%, -75%) rotate(360deg) ;
    }

}